{% extends 'base.html' %}
<style>
    .bg-blur {
        backdrop-filter: blur(5px);
    }

    .bg-light {
        background-color: rgba(255, 255, 255, 0.5);
    }
</style>
{% block content %}
<div class="container">
    <h1 style="text-align: center;">INFORME Y EVALUACION DE ACTIVIDADES DE LABOR DOCENTE - DEPARTAMENTO DE SISTEMAS -
        Facultad de Ingenieria Electronica y Telecomunicaciones</h1>

    <div class="user-info">
        <div id="img" class="d-flex align-items-center justify-content-center mb-4">

            <img src="{{ user.foto }}" alt="Imagen de Usuario" class="img-fluid" style="max-width: 200px;">

        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Periodo:</label>
            <label for="NombreValue" class="form-label">2023-1</label>
        </div>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <label for="NombreValue" class="form-label">{{ user.nombre }} {{ user.apellido }}</label>
        </div>
        <div class="mb-3">
            <label for="identificacion" class="form-label">Cargo</label>:</label>
            <label for="IdentificaciónValue" class="form-label">{{ user.estudio }}</label>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>n°</th>
                <th>Nombre de labor</th>
                <th>Tipo labor</th>
                <th>Horas</th>
                <th>Descripción</th>
                <th>Acto</th>
                <th>Fecha inicio</th>
                <th>Fecha fin</th>
                <th>Estado</th>
                <th>Resultados</th>
                <th>Evaluación</th>
            </tr>
        </thead>
        <tbody>
            {% for evaluacion in evaluaciones %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ evaluacion.lab_id.nombre }}</td>
                <td>{{ evaluacion.lab_id.tl_id.descripcion }}</td>
                <td>{{ evaluacion.lab_id.horas }}</td>
                <td>{{ evaluacion.lab_id.descripcion }}</td>
                <td>x</td>
                <td>{{ evaluacion.per_id.fecha_inicio }}</td>
                <td>{{ evaluacion.per_id.fecha_fin }}</td>
                <td>{{ evaluacion.eva_estado }}</td>
                <td contenteditable="true">{{ evaluacion.eva_resultado }}</td>
                <td contenteditable="true">{{ evaluacion.eva_puntaje }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button name="Guardar" id="Guardar" class="btn btn-primary">Guardar</button>

    <div class="total-bar">
        <h4>Total</h4>
        <p id="valor-total">-</p>
    </div>
</div>

<script>
    function calcularPromedioEvaluacion() {
        var evaluaciones = document.querySelectorAll("table tbody tr td:nth-child(11)");
        var total = 0;
        var cantidad = evaluaciones.length;

        evaluaciones.forEach(function (evaluacion) {
            var nota = parseFloat(evaluacion.textContent);
            if (!isNaN(nota)) {
                total += nota;
            }
        });

        var promedio = cantidad > 0 ? total / cantidad : 0;
        return promedio.toFixed(2);
    }

    function mostrarPromedioEvaluacion() {
        var promedio = calcularPromedioEvaluacion();
        var promedioElement = document.getElementById("valor-total");
        promedioElement.textContent = promedio;
    }

    mostrarPromedioEvaluacion();
</script>

{% endblock %}

